omegaconf>=2.3.0
gymnasium
pillow
minigrid @ git+https://github.com/BartekCupial/Minigrid.git
openai
python-dotenv
sentence-transformers
scikit-learn
numpy
tqdm
google-generativeai
textworld>=1.5
matplotlib
ipykernel
